<div class="container">
<%= form_tag sessions_path, class: 'form-signin' do %>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
    <div class="alert"><%= flash[:alert] %></div>
<% end %>
  <h2 class="form-signin-heading">Please sign in</h2>
  <%= text_field_tag :username, params[:username], :placeholder => 'Enter username', :class => "input-block-level" %>
  <%= password_field_tag :password, nil, :placeholder => 'Enter password', :class => "input-block-level"  %>
  <label class="checkbox">
   <input type="checkbox" value="remember-me"> Remember me
  </label>
  <%= submit_tag "Log In",  :class => "btn btn-large btn-primary" %>
<% end %>
</div>
